* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 35px 100px;
    background-color: #2C3333;
}

.linkDiv {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex;
    column-gap: 40px;
}

.logo {
    font-size: 30px;
    color: #E7F6F2;
}

.navLinks>li {
    list-style: none;
    font-size: 20px;
}

li>a {
    color: #E7F6F2;
    text-decoration: none;
}

li>a:hover {
    color: #A5C9CA;
}

.displayArea {
    max-width: 100%;
    background-color: cadetblue;
    height: 10vh;
}

.gameWindow {
    max-width: 100%;
    background-color: antiquewhite;
    height: 80vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 10px solid blueviolet;
}

.row {
    width: 100%;
    flex: auto;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 150px;
    height: 80%;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardValue {
    width: 80%;
    height: 80%;
    background-color: black;
    color: white;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}