* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    background-color: #2C3333;
    align-items: center;
}

.navLinks {
    display: flex;
    column-gap: 40px;
}

.logo {
    font-size: 30px;
    color: #E7F6F2;
}

.linkDiv>button {
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
}

/* Display Area */

.displayArea {
    max-width: 100%;
    background-color: cadetblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.timeBar {
    width: 90%;
    height: 15px;
    background-color: yellow;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: 100ms linear;
}

/* Cards Area */

.gameWindow {
    max-width: 100%;
    background-color: black;
    height: 80vh;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border: 10px solid blueviolet;
    padding: 0 10px;
    cursor: crosshair;
}

.row {
    width: 100%;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
}

.card {
    width: 150px;
    height: 80%;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardValue {
    width: 80%;
    height: 80%;
    background-color: black;
    color: white;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1000ms;
    opacity: 0;
}

.displayCard {
    opacity: 1;
}

/* Overlay */

.overlay,
.overlayPause {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: crosshair;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1000ms ease-out;
}

.zeroHeight {
    height: 0px;
}

.overlayText {
    max-width: 500px;
    font-size: 18px;
    color: white;
    opacity: 1;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.instructions {
    background-color: #2C3333;
    padding: 20px;
    border-radius: 10px;
}

.instructions>ol {
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hideOverlay {
    transition: opacity 1000ms ease-out;
    opacity: 0;
    overflow: hidden;
}

.startButton {
    display: flex;
    justify-content: center;
}

.buttonHide {
    display: none;
}

.alertText {
    color: white;
    font-size: 50px;
    display: none;
}

.alertFlex { 
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.alertText button {
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}